@model EditPatientViewModel

<div class="container-fluid">

    <div class="d-flex justify-content-between mb-4">
        <div>
            <h4>Edit Patient</h4>
            <small class="text-muted">Update patient info</small>
        </div>
        <a asp-action="Index" class="btn btn-light border btn-sm">Back</a>
    </div>

    <div class="card border">
        <div class="card-body">

            <form asp-action="Edit" method="post">
                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="Id" />

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label class="small text-muted">First Name</label>
                        <input asp-for="FirstName" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="small text-muted">Last Name</label>
                        <input asp-for="LastName" class="form-control" readonly />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="small text-muted">Phone</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="small text-muted">Address</label>
                        <input asp-for="Address" class="form-control" />
                    </div>

                </div>

                <div class="text-end">
                    <button class="btn btn-outline-primary btn-sm">Update</button>
                </div>

            </form>

        </div>
    </div>
</div>